
<header role="banner">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand position-absolute" href="index.html">SRKC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse position-relative" id="navbarsExample05">
        <ul class="navbar-nav mx-auto pl-lg-5 pl-0 d-flex align-items-center">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="{{ url_for('allProjects') }}">Road</a>
              <a class="dropdown-item" href="{{ url_for('allProjects') }}">Bridge</a>
              <a class="dropdown-item" href="{{ url_for('allProjects') }}">Building</a>

            </div>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="news.html">Photo Gallery</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Equipment details</a>
          </li>
          <li class="nav-item cta-btn2">
            <a class="nav-link" href="get-quote.html">
              <span class="d-inline-block px-4 py-2 border">Quotation</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
