<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>list of projects</title>
      <style>

      .content_table{
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
       border-collapse: collapse;
       width: 100%;
       margin-left: 10px;
      }
      .content_table td, .content_table th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      .content_table tr:nth-child(even){background-color: #f2f2f2;}

      .content_table tr:hover {background-color: #ddd;}

      .content_table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }
      </style>
  </head>
  <body>

<table class="content_table"><thead><tr>
  <th>Name and address of the Employer     </th>
     <th>Date ofCompletion     </th>
     <th>Value (in Cr)     </th>
     <th>Project Type     </th>
     <th>Structure Type</th>
     <th>Location     </th>
    </tr>
</thead>
 <tbody><tr> <td>M/S IVRCL Infrastructure and Projects Ltd     </td>
     <td>05-Jan-09     </td>
     <td>7.55     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Railway over bridge     </td>
     <td>Balotara     </td>  </tr>
 <tr> <td>M/S IVRCL Infrastructure and Projects Ltd     </td>
     <td>05-Jan-09     </td>
     <td>0.33     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Underpass     </td>
     <td>Balotara     </td>  </tr>
 <tr> <td>M/S IVRCL Infrastructure and Projects Ltd     </td>
     <td>05-Jan-09     </td>
     <td>5.76     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Bridge     </td>
     <td>Balotara     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>15-Dec-09     </td>
     <td>22.17     </td>
     <td>Construction and maintenance     </td>
     <td>Railway over bridge     </td>
     <td>Hanumangarh     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>30-May-10     </td>
     <td>6.30     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Rail over bridge     </td>
     <td>Alwar     </td>  </tr>
 <tr> <td>PWD Rajasthan     </td>
     <td>07-Jun-11     </td>
     <td>7.67     </td>
     <td>Construction     </td>
     <td>Bridge     </td>
     <td>Sangaria  Hanumangarh     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>31-Oct-11     </td>
     <td>35.35     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Road     </td>
     <td>Hanumangarh     </td>  </tr>
 <tr> <td>West Central Railway (KOTA Division)     </td>
     <td>31-May-12     </td>
     <td>5.38     </td>
     <td>Construction     </td>
     <td>Road over bridge     </td>
     <td>Nagda-Mathura     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>30-Jun-12     </td>
     <td>4.19     </td>
     <td>Construction     </td>
     <td>Bridge     </td>
     <td>Jhalawar     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>31-Oct-12     </td>
     <td>32.87     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Road     </td>
     <td>Bharatpur     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>02-Jan-13     </td>
     <td>1.01     </td>
     <td>Maintenance     </td>
     <td>Road     </td>
     <td>Bharatpur-Bayana-Hindaun     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>15-May-13     </td>
     <td>58.12     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Road     </td>
     <td>Nohar To Bhadra     </td>  </tr>
 <tr> <td>PWD  Rajasthan     </td>
     <td>17-Aug-13     </td>
     <td>11.16     </td>
     <td>Construction     </td>
     <td>Bridge     </td>
     <td>Ghaggar     </td>  </tr>
 <tr> <td>IL& FS Transportation Network     </td>
     <td>30-Sep-13     </td>
     <td>18.36     </td>
     <td>Construction and maintenance     </td>
     <td>Check post     </td>
     <td>Madhya pradesh     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>30-Sep-13     </td>
     <td>10.56     </td>
     <td>Construction and maintenance     </td>
     <td>Road     </td>
     <td>Rawatsar - Nohar     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>10-Mar-14     </td>
     <td>17.52     </td>
     <td>Construction     </td>
     <td>Road over bridge     </td>
     <td>Sangaria     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>30-Mar-14     </td>
     <td>18.73     </td>
     <td>Construction and maintenance     </td>
     <td>Road     </td>
     <td>Surot-gangapur   Bharatpur     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>31-Jul-14     </td>
     <td>6.42     </td>
     <td>Construction     </td>
     <td>Road     </td>
     <td>Hanumangarh     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>29-Sep-14     </td>
     <td>2.13     </td>
     <td>Construction     </td>
     <td>Road     </td>
     <td>Hanumangarh     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>19-Nov-14     </td>
     <td>5.92     </td>
     <td>Construction     </td>
     <td>Road     </td>
     <td>Hanumangarh     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>14-Jun-15     </td>
     <td>15.59     </td>
     <td>Construction     </td>
     <td>Road over bridge     </td>
     <td>Alwar     </td>  </tr>
 <tr> <td>RIDCOR Infra Projects Ltd.     </td>
     <td>31-Mar-16     </td>
     <td>20.53     </td>
     <td>Construction and maintenance     </td>
     <td>Road     </td>
     <td>Nohar  rawatsar     </td>  </tr>
 <tr> <td>RIDCOR Infra Projects Ltd.     </td>
     <td>31-Mar-16     </td>
     <td>60.00     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Road     </td>
     <td>Nohar  Topria     </td>  </tr>
 <tr> <td>North Western Railway Dausa     </td>
     <td>31-Mar-16     </td>
     <td>5.25     </td>
     <td>Construction     </td>
     <td>Bridge     </td>
     <td>Dausa-lalsot     </td>  </tr>
 <tr> <td>North Western Railway     </td>
     <td>30-Apr-16     </td>
     <td>13.50     </td>
     <td>Construction     </td>
     <td>Road over bridge     </td>
     <td>Salempura-udaikalan  Gausa     </td>  </tr>
 <tr> <td>RIDCOR Infra Projects Ltd.     </td>
     <td>31-May-16     </td>
     <td>45.00     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Road     </td>
     <td>Bhadra-Haryana border     </td>  </tr>
 <tr> <td>RIDCOR Ltd.     </td>
     <td>08-Jun-16     </td>
     <td>8.10     </td>
     <td>Rehabilitation & restoration works     </td>
     <td>Road     </td>
     <td>Lalsot-Kota     </td>  </tr>
 <tr> <td>Jaipur Development Authority (JDA)     </td>
     <td>30-Jun-16     </td>
     <td>7.00     </td>
     <td>Construction - Widening     </td>
     <td>Bridge     </td>
     <td>Sushilpura  Jaipur     </td>  </tr>
 <tr> <td>RIDCOR Infra Projects Ltd.     </td>
     <td>05-Jul-16     </td>
     <td>8.00     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Road     </td>
     <td>Bhadra bypass     </td>  </tr>
 <tr> <td>RIDCOR Infra Projects Ltd.     </td>
     <td>05-Nov-16     </td>
     <td>1.46     </td>
     <td>Protection works     </td>
     <td>Road     </td>
     <td>Rawatsar - Nohar-bhadra     </td>  </tr>
 <tr> <td>RIDCOR Infra Projects Ltd.     </td>
     <td>30-Sep-16     </td>
     <td>13.69     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Road     </td>
     <td>Mathura-Bharatpur     </td>  </tr>
 <tr> <td>Jaipur Development Authority (JDA)     </td>
     <td>18-Nov-16     </td>
     <td>7.41     </td>
     <td>Widening     </td>
     <td>Bridge     </td>
     <td>Sushilpura  Jaipur     </td>  </tr>
 <tr> <td>Jaipur Development Authority (JDA)     </td>
     <td>20-Apr-17     </td>
     <td>4.58     </td>
     <td>Construction - Widening     </td>
     <td>Bridge     </td>
     <td>JLN marg  Jaipur     </td>  </tr>
 <tr> <td>RIDCOR Infra Projects Ltd.     </td>
     <td>15-Jun-17     </td>
     <td>9.97     </td>
     <td>Integrated Improvement cum Maintenance     </td>
     <td>Road     </td>
     <td>Gangapur-bhadoti     </td>  </tr>
 <tr> <td>RIDCOR Infra Projects Ltd.     </td>
     <td>31-Mar-18     </td>
     <td>31.48     </td>
     <td>Construction - Widening     </td>
     <td>Road     </td>
     <td>Mathura-Bharatpur     </td>  </tr>
 <tr> <td>Jaipur Development Authority (JDA)     </td>
     <td>25-Jul-18     </td>
     <td>10.56     </td>
     <td>Construction     </td>
     <td>Underpass     </td>
     <td>SMS hospital-Trauma center  Tonk road     </td>  </tr>
 <tr> <td>North Central Railway Agra     </td>
     <td>31-Jul-19     </td>
     <td>16.78     </td>
     <td>Construction     </td>
     <td>Underpass     </td>
     <td>Hathras     </td>  </tr>
 </tbody></table>
</body></html>
